extends layout

block content
  h1= title

  ul
    each val in days
      li
        a(href=val.url) #{val.date_day}
        p #{val.weight}
        p #{val.food}
        
    else
      li There are no days in the list